.container-fluid#nav-container
  %nav.navbar.brand-seagreen
    .row
      .col-md-10.col-md-offset-1
        %ul.nav.navbar-nav
          %li
            = link_to 'HOME', root_path
          %li
            = link_to 'RUNNING DISCOUNT CODES', href: '#'
          %li
            = link_to 'ABOUT ME', about_path
        .navbar-right
          - if user_signed_in?
            = button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger', id: 'navbar-button'
          - else
            = link_to 'Log In', new_user_session_path, class: 'btn btn-green', id: 'navbar-button'
.jumbotron#nav-banner
  %h1 ANDREY ABLAMUNETS
  %p RUNNING THE WORLD
