%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Andrey Ablamunets
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render template: 'shared/navbar'
    .container-fluid
      .row
        .col-md-10.col-md-offset-1
          .col-md-7
            = yield
          .col-md-3
            SIDEBAR CONTENT HERE
